.DS_Store
.idea
.phpunit.result.cache
.vscode
build
composer.lock
coverage
docs
node_modules
phpunit.xml
phpstan.neon
testbench.yaml
vendor

# Playground (example app)
playground/.env
playground/vendor
playground/node_modules
playground/storage
playground/bootstrap/cache
playground/public/build
playground/public/storage
